
article {
  margin: auto;
  width: 75%;
  text-align: center;
  padding: 10px;
  padding-bottom: 40px;
}

p.text {
  margin: auto;
  width: 65%;
  text-align: left;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: normal;
  color: #111111;
  font-family: "Source Serif Pro", "Baskerville Old Face", Garamond, "Times New Roman", serif;
}

a {
  color: black;
  text-decoration: none;
  font-style: italic;
}

.article-link-container {
  display: flex;
}

.article-link-container-name {
  padding: 11%;
  font-size: 35px;
  text-align: center;
}

.article-title {
  margin: 0%;
  font-size: 35px;
  text-align: center;
}

.article-date {
  font-size: 16px;
  text-align: right;
  margin-top: 2%;
}

p.byline {
  margin: auto;
  width: 65%;
  text-align: left;
  font-style: italic;
  margin-top: 10px;
}

.article-img {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 0;
}

figure {
  margin-bottom: 30px;
  margin-top: 30px;
}

figcaption {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
}

footer {
  margin: auto;
  width: 70%;
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;
  padding: 11px;
}

#masthead {
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;
  width: 90%;
  margin: auto;
  padding: 5px;
}

#header-site-title {
  font-size: 26px;
  font-variant: all-petite-caps;
  padding-bottom: 4px;
}
