a {
  color: black;
  text-decoration: none;
  font-style: italic;
}

#masthead {
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;
  max-width: 90%;
  margin: auto;
  padding: 5px;
  font-size: 50px; 
}

#header-site-title {
    font-variant: all-petite-caps;
    padding-bottom: 4px;
}

#header-more-articles-link {
  font-size: 0.8em;
}

footer {
  margin: auto;
  margin-bottom: 120px;
  max-width: 90%;
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;
  padding: 11px;
  font-size: 40px;
  
  .footer-spacer {
    padding-left: 2%;
    padding-right: 2%;
  }
}


/************************************************************************/
/* articles */
/************************************************************************/
article {
  margin: auto;
  max-width: 100%;
  font-size: 48px;
  text-align: center;
  padding: 1rem;
  padding-bottom: 40px;
  

  p.text {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    text-align: left;
    line-height: 1.6;
    font-weight: normal;
    color: #111111;
    font-family: "Source Serif Pro", "Baskerville Old Face", Garamond, "Times New Roman", serif;
  }

  .article-img {
    margin: 1.5rem auto;
    max-width: 100%;
    padding: 0;
  }

  figure {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  figcaption {
    width: 70%;
    margin: 0 auto;
    font-size: 24px;
  }

  p.byline {
    margin: 0 auto;
    text-align: left;
    font-style: italic;
    max-width: 98%;
    padding: 1rem;
  }

  h1 {
    font-size: 3.5em;
    margin: 0;
    margin-top: 0.2em;
  }

  h2 {
    font-size: 1em;
    margin: 0;
    margin-bottom: 0.5em;
  }


  /* Desktop and larger (≥1024px) */
  @media (min-width: 1024px) {
    p.text {
      width: 65%;
      font-size: 1.2rem;
      line-height: 1.6;
      /* padding: 3rem; */
    }

    .vertical-img {
      max-height: 600px;
      max-width: 500px;
    }
  }
}

p.poem {
  margin: auto;
  width: 65%;
  text-align: center;
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: normal;
  color: #111111;
  font-family: "Source Serif Pro", "Baskerville Old Face", Garamond, "Times New Roman", serif;
}


/************************************************************************/
/* article list pages */
/************************************************************************/

.article-table {
  display: table;
  margin-left: 25%;
  border-collapse: separate;
  border-spacing: 20px 20px;
}

.article-row {
  display: table-row;
}

.article-link-container-name {
  padding: 11%;
  font-size: 35px;
  text-align: center;
  display: table-cell;
  vertical-align: bottom;
}

.article-link-container-figure {
  margin-top: 25%;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}

.article-link-container-figure img {
  max-height:500px;
  max-width:400px;
}

.article-title {
  margin: 0%;
  font-size: 35px;
  text-align: right;
}

.article-date {
  font-size: 16px;
  text-align: right;
  margin-top: 2%;
}