
article {
  margin: auto;
  width: 75%;
  /* border: 3px solid green; */
  text-align: center;
  padding: 10px;
}

p.text {
  margin: auto;
  width: 65%;
  text-align: left;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: normal;
  color: #111111;
  font-family: "Source Serif Pro", "Baskerville Old Face", Garamond, "Times New Roman", serif;

}

p.byline {
  margin: auto;
  width: 82%;
  text-align: left;
  font-style: italic;
  margin-top: 10px;
}

.article-img {
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10px;
  margin-bottom: 10px; */
  width: 80%;
  padding: 0;
}

figure {
  margin-bottom: 30px;
  margin-top: 30px;
}

figcaption {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
}

footer {
  margin: auto;
  width: 70%
}
