<!doctype html>
<html>
<head>
  <title>Sindicato | A Site for Slow News</title>
  <meta name="description" content="Sindicato home page">
  <meta name="keywords" content="sindicato news stories">
  <link rel="stylesheet" href="../../../styles.css">
  <link rel="apple-touch-icon" sizes="180x180" href="../../../favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../../favicon/favicon-16x16.png">
  <link rel="manifest" href="../../../favicon/site.webmanifest">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V42NG9FE3N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V42NG9FE3N');
</script>
<body>
  <header id="masthead">
    <div id="header-site-title">
      Sindicato > News from The Outdoors
    </div>
    <div>
      <a href="../index.html">
        <text id="more-articles-links">More articles</text>
      </a>
    </div>
	</header>
  <article>
    <h1>TEMP TITLE CHANGE ME</h1>
    <h2>TEMP DATE CHANGE ME</h2>
    <figure class="article-img">
      <img class="article-img" src="./img/arvy_on_trail-resized.jpeg"/>
      <figcaption>Replace this caption.</figcaption>
    </figure>
    <p class="text">
      Example text replace me.
    </p>
    <p/>

    ARTICLE_CONTENTS_TO_BE_REPLACED

    <p class="byline">
      - Talus Snowfield
    </p>
  </article>
  <footer>
    <a class="footer-about" href="../../../meta/about.html">About</a>
    <text class="footer-spacer">-</text>
    <a class="footer-home" href="../../index.html">Home</a>
    <text class="footer-spacer">-</text>
    <a class="footer-feedback" href="../../../meta/feedback.html">Feedback</a>
    <text class="footer-spacer">-</text>
    <a class="footer-feedback" href="../../../meta/subscribe.html">Subscribe</a>
  </footer>
</body>
</html>
